root {
  --pixel-size: 0;
  --game-width: 0;
  --game-height: 0;
  --game-x: 0;
  --screen-height: 100vh;
  
}
* {
  box-sizing: border-box;
}
body {
  --kf-orange: #ffa000;
  --kf-light-orange: #ffd8a0;
  --kf-dark-orange: #e05000;
  --tile-size: calc(var(--pixel-size) * 16); 
  --header-font-size: calc(var(--pixel-size) * 16);
  --original-bg-color: #9290ff;
  --horde-bg-color: #070920;
  margin: 0;
  position: fixed;
  width: 100vw;
  max-height: 100%;
  background-color: #000000;
  text-align: center;
  font-family: 'Press Start 2P';
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0.5);
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  transition: all 300ms ease;
  /* -webkit-font-smoothing: subpixel-antialiased; */
  /* text-rendering: optimizeLegibility; */
  /* -moz-osx-font-smoothing: auto; */
  will-change: transition;
}
.screen-cover {
  position: absolute;
  width: 100vw;
  height: var(--screen-height);
  top: 0;
  left: 0;
}
#scan-lines {
  background-image: url(../assets/scanline.png);
  opacity: 0.4;
  background-repeat: repeat-y;
  /* background-position-x: var(--game-x); */
  background-size: 100vw calc(var(--pixel-size) * 1.5);
  pointer-events: none;
  display: none;
  z-index: 100;
}
#scan-lines.showing {
  display: block;
}
#controls-hint {
  position: fixed;
  width: calc(var(--game-width) - (var(--tile-size) * 2));
  height: calc(var(--game-height) - (var(--tile-size) * 2));
  top: calc(var(--tile-size));
  left: 50vw;
  transform: translateX(-50%);
  background: #111;;
  z-index: 20;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--tile-size) / 3);
  border: calc(var(--pixel-size) * 2) solid #222;
  display: none;
  z-index: 50;
}
#controls-hint.showing {
  display: flex;
}
.orange-text {
  color: var(--kf-orange);
}
.light-orange-text {
  color: var(--kf-light-orange);
  font-size: 120%;
}
#controls-hint .hint-list {
  text-align: left;
}
#controls-hint .hint {
  padding: 1vh;
  font-size: calc(var(--tile-size) / 4);
}
#controls-hint > #hint-title {
  font-size: calc(var(--tile-size) / 2);
  padding: calc(var(--tile-size) / 3) 0;
}
#controls-hint > #hint-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--tile-size) / 2);
}
#controls-hint > #hint-grid > .hint-action-area {
  height: unset;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#controls-hint > #hint-grid > .hint-action-area .action-listing {  
  padding: 0 calc(var(--pixel-size) * 3);
  padding-right: calc(var(--pixel-size) * 6);
}
#controls-hint > #hint-grid > .hint-action-area .key-listing {
  color: yellowgreen;
  font-size: calc(var(--pixel-size) * 8);
  padding: calc(var(--pixel-size) * 3);
  padding-left: calc(var(--pixel-size) * 6);
}
#controls-hint > #hint-grid > .hint-action-area > .action-type-label {
  width: min-content;
  text-align: center;
  font-size: calc(var(--pixel-size) * 5);
  color: var(--kf-orange);
}
#controls-hint > #hint-grid > .hint-action-area > div.empty {
  opacity: 0;
  border: 0;
}
#controls-hint > #hint-grid > .hint-action-area > div:hover {
  background-color: #222;
}
#controls-hint > #hint-grid > .hint-action-area > .key-row {
  font-size: calc(var(--pixel-size) * 5);
  width: 100%;
  height: min-content;
  /* min-height: calc(var(--tile-size) * 1.5); */
  justify-content: space-between;
  padding: calc(var(--pixel-size) * 4);
  margin-bottom: 1vh;
  background: #050505;
}
#controls-hint > #button-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#controls-hint > #hint-instructions {
  font-size:calc(var(--tile-size) / 3) !important;
  color: yellowgreen;
}
#hint-close-button.close-button {
  background: #000900;
  padding: calc(var(--tile-size) / 2) calc(var(--tile-size) * 2);
  font-size: calc(var(--pixel-size) * 9);
  border: calc(var(--pixel-size) * 1.5) solid rgb(37, 53, 37);
  margin: calc(var(--tile-size) / 3);
}
#hard-reload {
  position: absolute;
  color: rgb(226, 165, 157);
  background: transparent;
  border-color: #111;
  border-style: solid;
  width: calc(var(--tile-size) * 5);
  height: var(--tile-size);
  transform: translateX(-50%);
  left: 50vw;
  bottom: calc(var(--tile-size) / 3);
  opacity: 0.5;
}
#hard-reload.hidden {
  display: none;
}
#game-canvas {
  position: relative;
  margin: 0 auto;
  /* width:calc(100vh / calc(15 / 16) ) ; */
  /* width:100vw; */
  /* height:100vh; */
  background-color: var(--original-bg-color);
}
#cinematic {
  width: var(--game-width);
  height: var(--game-height);
  position: fixed;
  top: 0;
  left: var(--game-x);
  background: #311;
  color: white;
  display: grid;
  grid-template-rows: 1fr calc(var(--pixel-size) * 32);
  display: none;
}
#cinematic > .image-panel {
  background: blue;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  height: 100%;
}
#cinematic > .caption {
  background: black;
  outline: 2px solid white;
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
  height: 100%;
}
.clickable {
  cursor: pointer;
}
#gamepad-container {
  /* display: none; */
  z-index: 0;
}
#kung-fu-logo, #brutal-logo {
  position: absolute;
  width: 100vw;
  background-repeat: no-repeat;  
  background-position: center;
  background-size: contain;
  image-rendering: pixelated;
  transform-origin: center;
  z-index: 1;
  pointer-events: none;
}
#kung-fu-logo.hidden, #brutal-logo.hidden {
  display: none;
}
#kung-fu-logo {
  /* background-size: calc(var(--pixel-size) * 220); */
  /* top: calc(var(--pixel-size) * 70); */
  top: calc(var(--pixel-size) * 64);
  left: 0;
  /* height: calc(var(--pixel-size) * 40); */
  height: calc(var(--pixel-size) * 46);
  background-image: url('../assets/kungfulogo.png');
  transform: translateY(-100%);
  transition: all 750ms ease;
  transition-delay: 300ms;
}
#brutal-logo {  
  /* background-size: calc(var(--pixel-size) * 115); */
  top: calc(var(--pixel-size) * 3);
  left: 0;
  height: calc(var(--pixel-size) * 30);
  background-image: url('../assets/brutallogo.png');
  z-index: 3;
  transform-origin: center;
  transform: scaleX(1.75) scaleY(1.5) rotate(5deg);
  opacity: 0;
  transition: transform 750ms ease, opacity 600ms ease;
  transition-delay: 500ms;
}
#brutal-logo.landed {
  transform: scaleX(1.25) rotate(-2deg);
  opacity: 1;
  animation: wobble;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 2400ms;
  animation-delay: 1250ms;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes wobble {
  0% {
    transform: rotate(-2deg) scaleX(1.25);
  }
  100% {
    transform: rotate(-1deg) scaleX(1.3);
  }
}
#kung-fu-logo.landed {
  opacity: 1;
}
#kung-fu-logo.shrunken {
  top: calc(var(--pixel-size) * 70);
  height: calc(var(--pixel-size) * 40);
}
#name-entry {
  position: absolute;
  text-align: center;
  width: calc(var(--game-width) * 0.68);
  height: calc(var(--pixel-size) * 38);
  top: calc(var(--pixel-size) * 12.5);
  left: calc(var(--game-x) + (var(--pixel-size) * 3));
  font-size: calc(var(--game-height) / 20);
  background-color: white;
  text-transform: uppercase;
  font-family: 'Press Start 2P';
  transition: all 300ms ease;
  display: none;
  border-width: calc(var(--pixel-size) * 3);
  /* border-style: double; */
  animation: pulse-input;
  animation-duration: 500ms;
  z-index: 10;
}
#name-submit {
  position: absolute;
  width: calc(var(--game-width) * 0.265);
  height: calc(var(--pixel-size) * 32);
  top: calc(var(--pixel-size) * 12.5);
  right: calc(((100vw - var(--game-width)) / 2) + var(--pixel-size) * 1.5);
  text-transform: uppercase;
  font-size: calc(var(--game-height) / 28);
  font-family: 'Press Start 2P';
  background-color: #464;
  color: white;
  margin: calc(var(--pixel-size) * 3.5);
  border-color: #898;
  transform: scale(1);
  transition: all 10ms ease, transform 100ms ease;
  display: none;
  cursor: pointer;
  animation: button-throb;
  animation-duration: 320ms;
  z-index: 10;
}
#name-entry[value=""]:not(:focus), #name-submit:not(:disabled) {
  border-color: rgb(54, 54, 10);
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
#name-entry.showing, #name-submit.showing {
  display: block;
}
#name-submit:disabled {
  background-color: grey;
  color: lightgrey;
}
@keyframes pulse-input {
  0% {
    border-color: rgb(104, 170, 104);
    font-size: calc(var(--game-height) / 18);
  }
  100% {
    border-color: green;
    font-size: calc(var(--game-height) / 19);
  }
}
@keyframes button-throb {
  0% {
    transform: scale(1.05);
    background-color: #464;
  }
  100% {
    transform: scale(1);
    background-color: #595;
  }
}
#options-screen {
  position: fixed;
  padding: calc(var(--pixel-size) * 32) calc(var(--pixel-size) * 16);
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--screen-height);
  background: #050505;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  color: white;
  /* font-size: calc(100vh / calc(15 / 16) / 64); */
  font-size: calc(var(--pixel-size) * 7);
  display: none;
  z-index: 20;
}
#options-screen > header {
  font-size: var(--header-font-size);
}
#options-screen > div {
  margin-bottom: var(--tile-size);
}
#options-body {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#options-screen #options-switch-list {
  width: var(--game-width);
  /* max-height: calc(var(--screen-height) - (var(--tile-size) * 5.5)); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  padding: 6vh;
  z-index: 0;
  /* background: blue; */
}
#options-switch-list .option-row {
  width: calc(var(--tile-size) * 10);
  height: calc((var(--tile-size) * 1.6) + 1vh);  
  display: flex;
  align-items: center;
  margin: calc(var(--pixel-size) * 6);
  justify-content: space-between;
}
#options-switch-list .option-row > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(var(--pixel-size) / 2) solid #333;
}
#options-switch-list .option-label {
  height: 100%;  
  border-right: 0;
  border-color: #111;
}
#lower-area {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#options-screen #options-button-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#options-screen #controls-button { 
  /* justify-self: center; */
  font-size: calc(var(--pixel-size) * 6);
  padding: calc(var(--pixel-size) * 8);
  align-self: center;
  background: rgb(42, 60, 73);
  border: var(--pixel-size) outset #333;
}
#options-switch-list .option-value, .option-range-value {
  background: #222;
  /* border: var(--pixel-size) outset #111; */
  height: 100%;
}
#options-switch-list .option-switch {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  width: 70% !important;
}
#options-switch-list .option-switch:hover > .switch-knob {
  background: #444;
}
#options-switch-list .option-switch > .switch-knob {
  /* flex-grow: 1; */
  height: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  width: 50%;
  transition: transform 210ms ease;
}
#options-switch-list .option-switch.on > .switch-knob {
  transform: translateX(50%);
  background-color: rgb(77, 122, 73);
}
#options-switch-list .option-switch > .switch-knob::after {
  content: 'OFF';
}
#options-switch-list .option-switch.on > .switch-knob::after {
  content: 'ON';
}
#mode-select-screen .button-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mode-select-screen .button-area > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
#mode-back-button, #filler-button-area > .close-button {
  padding: 3vh;
}
#mode-select-screen .button-area .close-button {
  z-index: 21;
}
#skip-name-entry-button.close-button.showing {
  display: block;
}
#skip-name-entry-button.close-button {
  position: absolute;
  top: calc(var(--screen-height) - (var(--game-height) / 8));
  left: 50vw;
  background: #222;
  color: white;
  font-size: calc(var(--game-width) / 30);
  padding: calc(var(--game-width) / 24);
  transform: translateX(-50%) translateY(-100%);
  display: none;
}
.close-button {
  background: #222;
  padding: 3vh 6vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  z-index: 21;
  left: 50vw;
}
#confirm-mode-button {
  border: var(--pixel-size) solid rgb(7, 73, 7);
}
#close-options-button.close-button {
  font-size: calc(var(--pixel-size) * 10);
  /* top: calc(var(--screen-height) - (var(--pixel-size) * 16)); */
  left: 50vw;
}
#close-high-scores-button.close-button {
  position: absolute;
  font-size: calc(var(--pixel-size) * 10);
  color: white;
  transform: translateX(-50%) translateY(-100%);
  top: calc(var(--screen-height) - (var(--pixel-size) * 32));
  left: 50vw;
  display: none;
}
#close-high-scores-button.showing, #mode-select-screen.showing {
  display: flex;
}
#controls-screen {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50vh;
  left: 50vw;
  width: calc(100vh / calc(15 / 16));
  height: var(--screen-height);
  /* background: black !important; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: calc(100vh / calc(15 / 16) / 48);
  padding: calc(var(--pixel-size) * 24) var(--tile-size);
  display: none;
  z-index: 20;
}
#controls-screen.showing, #options-screen.showing {
  display: flex;
}
.controls-grid {
  padding: 2vw;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  background: #111;
  border: var(--pixel-size) solid rgb(59, 59, 59);
  border-top: 0;
  z-index: 0;  
  margin-bottom: 2vh;
}
.controls-grid.hidden {
  display: none;
}
.action-type-area {
  /* box-sizing: border-box; */
  padding: 1vw;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  height: 50vh;
  align-items: center;
  justify-content: center;
  grid-row-gap: calc(var(--pixel-size) * 3);
}
#gamepad-controls-grid > .action-type-area {
  opacity: 0;
  pointer-events: none;
}
#coming-soon-message {
  position: fixed;
  width: 100%;
  top: 45vh;
  left: 0;
  pointer-events: none;
  font-size: 1.5vw;
}
.action-type-label {
  grid-column-end: span 3;
  justify-self: center !important;
  border: none !important;
  min-height: 2vh;
}
.action-type-area > div {
  text-align: left;
  height: 8vh;
  max-height: 8vh;
  border: calc(var(--pixel-size) / 2) solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-type-area > .action-listing {
  line-height: 150%;
  text-align: center;
  padding: 0 1.5vw;
  font-size: calc(100vh / calc(15 / 16) / 54);
}
.action-type-area > .key-listing {
  color: rgb(134, 224, 134);
  font-size: calc(var(--pixel-size) * 8);  
}
.long-name > .key-listing {
  font-size: calc(var(--pixel-size) * 4) !important;
}
.action-type-area > .key-listing.just-changed {
  animation: throb;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-duration: 60ms;
}
@keyframes throb {
  0% {
    color: yellow;
  }
  100% {
    color: rgb(100, 245, 100);
  }
}
.action-type-area > .key-edit-button {
  width: 9vh;
  border-style: outset;
  border-color: gray;
  background: rgb(73, 73, 73);
  padding: 0 2vw;
}
.action-type-area > .key-edit-button.depressed {  
  border-style: inset;
  background: rgb(119, 119, 119);
}
.action-type-area > .key-edit-button::after {
  content: 'EDIT';
  font-size: calc(var(--pixel-size) * 3.5);
}
.action-listing.empty, .key-listing.empty, .key-edit-button.empty {
  border: none;
  color: transparent;
  background: transparent;
}
#modal-action-display {
  font-size: calc(var(--tile-size) / 1.25); 
  color: rgb(100, 245, 100);
  padding: calc(var(--tile-size) * 1.5) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal-cancel-message {
  font-size: calc(var(--tile-size) / 3); 
  width: 100%;
}
#controls-title {
  width: 100%;
  flex-grow: 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  font-size: calc(var(--header-font-size) / 1.5);
  display: flex;
  justify-content: space-around;
}
#controls-title > div {
  color: rgb(136, 136, 136);
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  border: 2px solid transparent;
  border-bottom-color: rgb(59, 59, 59);
}
#controls-title > div.selected {
  color: white;
  background-color: #111;  
  border-color: rgb(59, 59, 59);
  border-bottom-color: transparent;
  padding: 3vh
}
#key-edit-modal {
  position: fixed;
  background: #111;
  border: calc(var(--pixel-size) * 2) solid #222;
  width: calc(var(--game-width) / 1.25);
  height: calc(var(--game-height) / 2);
  transform: translateX(-50%) translateY(-50%);
  top: 45vh;
  left: 50vw;
  display: none;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--game-height) / 32);
  color: white;
  line-height: 150%;
  padding: calc(var(--pixel-size) * 15);
  z-index: 51;
}
#key-edit-modal.showing {
  display: flex;
  pointer-events: all;
}
.pulsed {
  background-color: #afa;
}
#d-pad {
  position: absolute;
  opacity: 0;
  z-index: 2;  
}
#nes-panel-bg {
  position: fixed;
  background-color: #151515;
  opacity: 1;
  border-radius: 5vmin;
}
#nes-border {
  position: fixed;
  background-color: #aaa;
  width: 100vw;
}
.button-back {
  position: fixed;
  background-color: #aaaaaa;
  border-radius: 2vmin;
}
#mode-select-screen {
  position: fixed;
  background: black;
  width: 100vw;
  height: var(--screen-height);
  top: 0;
  left: 0;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10vw;
  display: none;
  z-index: 3;
}
#mode-select-screen .button-area > #filler-button-area {
  display: none;
}
#mode-select-screen .mode-panel.pending {
  pointer-events: none;
}
#mode-select-screen .mode-panel.pending::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000dd;
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'COMING SOON :)';  
}
#mode-panel-area {
  width: 100%;
  height: calc(var(--screen-height) / 1.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#mode-select-screen > header {
  font-size: var(--header-font-size);
}
#mode-select-screen .mode-panel {
  position: relative;
  background-color: #222;
  border: var(--pixel-size) solid #444;
  width: 100%;
  /* height: 50%; */
  flex-grow: 1;
  margin: calc(var(--screen-height) / 64);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: flex 210ms ease;
}
#mode-select-screen .mode-panel.selected {
  border-color: greenyellow;
  outline: calc(var(--pixel-size) * 4) solid green;
  animation: flash-outline;
  animation-duration: 360ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}
@keyframes flash-outline {
  0% {
    outline-color: green;
    outline-width: calc(var(--pixel-size) * 5)
  }
  100% {
    outline-color: yellowgreen;
    outline-width: calc(var(--pixel-size) * 6)
  }
}
@keyframes flash-outline-yellow {
  0% {
    outline-color: green;
    outline-width: calc(var(--pixel-size) * 5)
  }
  100% {
    outline-color: yellowgreen;
    outline-width: calc(var(--pixel-size) * 6)
  }
}
#mode-select-screen .mode-panel > .mode-title {
  text-align: left;
  width: 100%;
  position: absolute;  
  font-size: calc(var(--header-font-size) / 1.5);
  padding: 3vw;
}
#story-mode-panel > .mode-title {
  background: rgb(87, 14, 14);
}
#horde-mode-panel > .mode-title {
  background: rgb(14, 87, 24);
}
#mode-select-screen > #mode-panel-area #stage-select-mode-panel > .mode-title,
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel > .mode-description {
  position: static;
}
#mode-select-screen > #mode-panel-area #stage-select-mode-panel {
  flex-grow: 0;
  justify-content: space-between;
  padding-bottom: 1vh;
}
#mode-select-screen > #mode-panel-area #stage-select-mode-panel > #stage-grid {
  width: 80%;
  height: 50%;
  display: none;
  margin-top: calc(var(--header-font-size) / 1.5);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: calc(var(--tile-size) / 3);
  grid-gap: calc(var(--tile-size) / 1.5);
  color: white;
  font-size: calc(var(--pixel-size) * 16);
  background: black;
}
.stage-knob {
  font-size: calc(var(--pixel-size) * 12);
  border: 2px solid rgb(27, 19, 19);
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* animation: flash-outline; */
  /* animation-duration: 180ms; */
  /* animation-iteration-count: infinite; */
  /* animation-play-state: running; */
}
.stage-knob.selected {
  outline: calc(var(--tile-size) / 3) solid green;
}
.stage-knob.unavailable {
  pointer-events: none;
  cursor: unset;
  border: 0;
  opacity: 0.2;
}

#stage-select-mode-panel > .mode-description {
  text-align: right !important;
}
#stage-select-mode-panel > .mode-title {
  background: rgb(14, 15, 87);
  text-align: right !important;
}
#mode-select-screen .mode-panel > .mode-description {
  text-align: left;
  width: 90%;
  position: absolute;
  bottom: 2vh;
  font-size: 2.75vw;
  line-height: 150%;
  padding: 3vw;
  padding-right: 0;
  padding-bottom: 0;
  transform: scaleX(0.95);
}
#mode-select-screen .mode-panel:nth-child(even) > .mode-description {
  text-align: left;
}
body.scored #kung-fu-logo, body.scored #brutal-logo {
  display: none;
}

@media (orientation: portrait) {
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel.expanded {
    flex-grow: 0.7;
  }
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel.expanded > #stage-grid {  
    display: grid;
  }
  #mode-select-screen .mode-panel.truncated > .mode-description {
    opacity: 0;
  }
  #game-canvas {
    height: calc(100vw * calc(15 / 16));
    /* height: 100vh; */
    /* background-color:black; */
  }
  #landscape-nes-controls {
    display: none;
  }
  #controls-button {
    display: none;
  }
  #controls-screen {
    transform: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vw * (16/15));
    font-size: calc(var(--pixel-size) * 8);
  }
  #turn-phone-shade, #turn-phone-instructions, #turn-phone-instructions > img {
    display: none;
  }
}


@media (orientation: landscape) {
  body {
    --header-font-size: calc(var(--pixel-size) * 12);
    background-color: black;
  }
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel > #stage-grid {  
    display: grid;
    width: 100%;
    height: min-content;
    grid-gap: 1vw;
  }
  #stage-grid > div {
    border-width: var(--pixel-size);
    outline-width: var(--pixel-size);
    width: 100%;
    padding: 1vw;
    font-size: 2.5vw;
  }
  #mode-select-screen {
    padding: 4vw;
  }
  #controls-screen {
    padding-bottom: 6vh;
    background: rgb(4, 14, 4);
  }
  #close-controls-button {
    margin-top: 4vh;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  #mode-select-screen > #mode-panel-area {  
    flex-direction: row;
    align-items: stretch;
  }
  #mode-select-screen .button-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #mode-select-screen .button-area > #filler-button-area {
    display: flex;
  }
  #confirm-mode-button {
   transform: scale(1.2);
  }
  #mode-select-screen .mode-panel {  
    width: 60%;
  }
  #mode-back-button, #filler-button-area > .close-button {
    padding: 3vh;
  }
  #mode-select-screen .mode-panel > .mode-title {
    font-size: 2.5vw;
    padding: 2vw;
    min-height: calc(5vw + 15%);
    line-height: 150%;
  }
  #mode-select-screen .mode-panel > .mode-description {
    font-size: 1.5vw;
    line-height: 175%;
    padding: 1vw;
  }
  #gamepad-container {
    display: none;
  }
  #game-canvas {
    width: calc(100vh / calc(15 / 16));
    height: 100vh;
  }
  #nes-panel-bg {
    display: none;
  }
  #nes-border {
    display: none;
  }
  #close-high-scores-button.close-button {
    top: calc(var(--screen-height) - (var(--pixel-size) * 16));
  }
  #landscape-nes-controls {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: aquamarine;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
  }
  #options-screen {
    font-size: calc(var(--pixel-size) * 4.5);
    padding: calc(var(--pixel-size) * 16);
    justify-content: space-between;
  }
  #options-body, #lower-area {
    margin: 0 !important;
  }
  #options-switch-list {
    max-height: calc(var(--screen-height) - (var(--tile-size) * 6));
  }
  #options-switch-list .option-row {
    width: calc(var(--tile-size) * 6.5);
    height: calc(var(--tile-size) * 1.25);  
    display: flex;
    margin: calc(var(--pixel-size) * 2);
  }
  #options-switch-list .option-row {
  }
  /* #options-switch-list {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 75vh;
    grid-template-columns: 1fr calc(var(--game-width) / 5);
  }
  #options-switch-list > div {
    border-width: var(--pixel-size);
    min-height: 9vh;
    height: 9vh;
  }
  #options-switch-list > #controls-button {
    font-size: calc(var(--pixel-size) * 5.5);
    margin-left: 4vw;
    margin-right: 4vw;
    width: 90%;
  } */
  #skip-name-entry-button.close-button {
    position: absolute;
    top: calc(var(--screen-height) - (var(--pixel-size) * 8));
    left: 50vw;
    background: #222;
    color: white;
    font-size: calc(var(--game-width) / 48);
    padding: calc(var(--game-width) / 36);
  }
  #turn-phone-shade {
    /* box-sizing: border-box; */
    position: fixed;
    background-color: black;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--screen-height);
    z-index: 3;
  }
  #turn-phone-instructions {
    position: fixed;
    width: 60vw;
    height: 65vh;
    transform: translateX(-50%) translateY(-50%);
    top: 50vh;
    left: 50vw;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 2vw;
    line-height: 150%;
    z-index: 3;
  }
  #turn-phone-instructions > img {
    width: 40vh;
    height: 40vh;
    opacity: 0.8;
    border: 2vw solid black;
  }
  #turn-phone-instructions > small {
    font-size: 1vw;
  }  
  body.scored #turn-phone-shade, body.scored  #turn-phone-instructions, body.scored #turn-phone-instructions > img {
    display: none;
  }
}

/* physical keyboard ? */
@media (hover: hover) and (pointer: fine) {
  #turn-phone-shade, #turn-phone-instructions, #turn-phone-instructions > img {
    display: none;
    z-index: 50;
  }
}
