:root {
  --pixel-size: 0;
  --game-width: 100vw;
  --game-height: 0;
  --game-x: 0;
  --gamepad-height: 0;
  --screen-height: 100vh;    
  --kf-orange: #ffa000;
  --kf-light-orange: #ffd8a0;
  --kf-dark-orange: #e05000;
  --kf-green: #98e800;
  --tile-size: calc(var(--pixel-size) * 16); 
  --header-font-size: calc(var(--pixel-size) * 16);
  --original-bg-color: #9290ff;
  --horde-bg-color: #070920;
  --black-bg: #111;    
  --header-height: calc(var(--game-height) / 4);
  --extra-y-space: calc(var(--screen-height) - var(--game-height));
}
* {
  box-sizing: border-box;
  color: white;
  font-family: 'Press Start 2P';
  /* image-rendering: pixelated; */
}
img {
  image-rendering: pixelated;
}
body {
  margin: 0;
  position: fixed;
  width: 100vw;
  max-height: 100%;
  background-color: var(--black-bg);
  text-align: center;
  font-family: 'Press Start 2P';
  overflow: hidden;
  opacity: 0;
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  transform: scale(0.75);
  transform-origin: center calc(var(--game-height) / 2);
  transition: transform 600ms ease, opacity 900ms ease;
  overflow: hidden;
  /* -webkit-font-smoothing: subpixel-antialiased; */
  /* text-rendering: optimizeLegibility; */
  /* -moz-osx-font-smoothing: auto; */
}
body.loaded {
  opacity: 1;
  transform: none;
}
address {
  font-family: sans-serif;
  font-style: normal;  
}
.down-caret {
  width: 0; 
  height: 0; 
  border-left: calc(var(--tile-size) / 1.5) solid transparent;
  border-right: calc(var(--tile-size) / 1.5) solid transparent;
  border-top: calc(var(--tile-size) / 1.5) solid white;
}
.screen-cover {
  position: absolute;
  width: 100vw;
  height: var(--screen-height);
  top: 0;
  left: 0;
}
.game-cover {
  background: inherit;
  position: absolute;
  width: var(--game-width);
  height: var(--game-height);
  top: 0;
  left: 0;
}
.orange-divider {
  background-image: url(../assets/orangeswirldivider.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(var(--pixel-size) * 9);
  min-width: var(--game-width);
}
.screen-header {
  /* background-size: cover; */
  background-image: url(../assets/screenheaders.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
  flex-grow: 1;
  max-height: calc(var(--pixel-size) * 28);
}
#scan-lines {
  background-image: url(../assets/scanline.png);
  opacity: 0.25;
  background-repeat: repeat-y;
  /* background-position-x: var(--game-x); */
  background-size: 100vw calc(var(--pixel-size) * 1.5);
  pointer-events: none;
  display: none;
  z-index: 6;
  /* image-rendering: pixelated; */
}
#scan-lines.showing {
  display: block;
}
.dragon-column {
  height: 100vh;
  width: calc(var(--tile-size) * 2.5);
  background-repeat: repeat-y !important;
  background-size: 60%;
  background-position: 50% calc(var(--pixel-size) * 3);
  image-rendering: pixelated;
  background-image: url(../assets/leftdragon.png);
}
.dragon-column.left {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
}
.dragon-column.right {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 3;
  transform: scaleX(-1);
}
#title-screen {
  position: absolute;
  top: 0;
  left: var(--game-x);
  width: var(--game-width);
  height: var(--game-height);
  z-index: 1;
  display: grid;
  grid-template-rows: calc(var(--header-height) + var(--tile-size)) 1fr;
}
#title-header, #title-body, .title-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
#title-body {
  padding-bottom: calc(var(--pixel-size) * 6);
}
button {
  padding: 0;
  outline: none;
  border: none;
}
.title-button {
  border: var(--pixel-size) double #333;
  width: calc(var(--tile-size) * 8);
  height: calc(var(--tile-size) * 2);
  font-size: calc(var(--pixel-size) * 9);
  background: #222;
  margin: calc(var(--pixel-size) * 4) 0;
  image-rendering: pixelated;
}
#start-button.title-button {
  font-size: calc(var(--pixel-size) * 14);
}
.title-button::before {
  position: absolute;
  left: calc(var(--tile-size) * 2.4);
  content: ' ';
  background-image: url(../assets/leftdragon.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.5);
  height: calc(var(--tile-size) * 2);
  width: calc(var(--tile-size) * 1);
  display: none;
}
.title-button::after {
  position: absolute;
  right: calc(var(--tile-size) * 2.4);
  content: ' ';
  background-image: url(../assets/leftdragon.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1.5) scaleY(1.5);
  height: calc(var(--tile-size) * 2);
  width: calc(var(--tile-size) * 1);
  display: none;
}
.title-button.selected {
  border-color: var(--kf-green);
  border-width: calc(var(--pixel-size) * 3);
  animation: flash-border;
  animation-duration: 80ms;
  animation-play-state: running;
  animation-iteration-count: infinite;
}
#title-screen.hidden .title-button.selected {
  animation-play-state: paused;
}
@keyframes flash-border {
  0% {
    border-color: var(--kf-dark-orange);
  }
  100% {
    border-color: var(--kf-orange);
  }
}
.title-button.selected::before, .title-button.selected::after {
  display: block;
}
#kung-fu-logo, #brutal-logo {
  width: 100%;
  background-repeat: no-repeat;  
  background-position: center;
  background-size: contain;
  image-rendering: pixelated;
  transform-origin: center;
  z-index: 1;
  pointer-events: none;
}
#kung-fu-logo {
  margin-top: calc(var(--tile-size) * 1.2);
  margin-bottom: calc(var(--tile-size) / 4);
  height: calc(var(--tile-size) * 4);
  background-image: url('../assets/kungfulogo.png');
}
#brutal-logo {
  position: absolute;
  top: calc(var(--pixel-size) * 2);
  height: calc(var(--pixel-size) * 30);
  background-image: url('../assets/brutallogo.png');
  z-index: 3;
  transform-origin: center;
  transform: scaleX(1.75) scaleY(1.5) rotate(5deg);
  opacity: 0;
  transition: transform 750ms ease, opacity 600ms ease;
  transition-delay: 500ms;
}
#top-fighters-screen, #options-screen, #mode-select-screen {
  background: inherit;
  display: grid;
  grid-template-columns: calc(var(--tile-size) * 2.5) 1fr calc(var(--tile-size) * 2.5);
  /* grid-template-rows: calc(var(--tile-size) * 4.5) calc(var(--tile-size) * 2.5) 1fr calc(var(--tile-size) * 4); */
  grid-template-rows: var(--header-height) calc(var(--tile-size) * 2.5) 1fr calc(var(--tile-size) * 4);
  font-size: calc(var(--pixel-size) * 8);
  image-rendering: pixelated;
  z-index: 3;
}
#top-fighters-screen.hidden > * {
  display: none;
}
#top-fighters-screen header {
  grid-column-start: 1;
  grid-column-end: span 3;
}
#top-fighters-screen .screen-header {
  background-position: top;
}
#top-fighters-screen .scores-grid > div {
  width: 100%;
  height: calc(var(--pixel-size) * 20);
  /* padding: calc(var(--tile-size) / 2) 0; */
  background-color: #111111; 
  display: flex;
  align-items: center;
  z-index: 1;
}
#top-fighters-screen #scores-grid-area {
  width: 100%;
  align-self: stretch;
  display: flex;
}
.scores-grid > div.highlighted {
  color: var(--kf-green);
}
.scores-grid > div.gray-bg {
  background-color: #222 !important;
}
.scores-grid {
  grid-column-start: 2;
  width: calc(var(--game-width) - (var(--tile-size) * 5));
  color: white;
  display: grid;
  max-height: calc(var(--screen-height) - (var(--tile-size) * 10.5)) !important;
  grid-template-columns: calc(var(--pixel-size) * 20) 1fr min-content;
  grid-auto-rows: calc(var(--pixel-size) * 20);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border: calc(var(--pixel-size) * 4) solid #222;
  z-index: 1;
  border-color: rgb(61, 35, 35);  
  display: none;
}
.scores-grid#horde-scores {
  border-color: rgb(36, 61, 35);
}
#top-fighters-screen .tab-area {
  grid-column-start: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--pixel-size) * 2);
  align-items: flex-end;
  justify-content: space-between;
  justify-self: center;
  /* padding-top: calc(var(--pixel-size) * 8); */
  line-height: 1.5rem;
}
#top-fighters-screen #column-labels {
  border-color: rgb(61, 35, 35);
}
/* #top-fighters-screen.story-mode .scores-grid {
  border-color: rgb(61, 35, 35);
}
#top-fighters-screen.horde-mode .scores-grid {
  border-color: rgb(36, 61, 35);
} */
#top-fighters-screen.story-mode .scores-grid#story-scores {
  display: grid;
}
#top-fighters-screen.horde-mode .scores-grid#horde-scores {
  display: grid;
}
.tab-area > .tab {
  font-size: calc(var(--pixel-size) * 8);
  line-height: calc(var(--pixel-size) * 12);
  border-radius: calc(var(--pixel-size) * 2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #222;
  margin-top: calc(var(--pixel-size) * 2);
  padding: calc(var(--tile-size) / 4);
  /* transform: scale(0.975); */
  opacity: 0.6;
  /* transition: transform 150ms ease; */
}
#top-fighters-screen .tab-area > .tab:first-child {
  transform-origin: bottom left;
  background-color: rgb(61, 35, 35);
}
#top-fighters-screen.story-mode .tab-area > .tab:first-child, #top-fighters-screen.horde-mode .tab-area > .tab:last-child  {
  /* transform: scale(1); */
  opacity: 1;
}
#top-fighters-screen .tab-area > .tab:last-child {
  transform-origin: bottom right;
  background-color: rgb(36, 61, 35);
}
.scores-grid > .score-rank {
  font-size: calc(var(--pixel-size) * 8);
  color: var(--kf-orange);
  justify-content: center;
}
.scores-grid > .score-name {
  padding-left: calc(var(--tile-size) / 8);
}
.scores-grid > .score-amount {
  justify-self: end;
  justify-content: flex-end;
  padding-right: calc(var(--tile-size) / 4);
}
#top-fighters-screen .button-area {
  grid-column-end: span 3;
  grid-row-start: 4;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
#close-high-scores-button {
  left: unset;
  font-size: calc(var(--pixel-size) * 10);
}
#close-high-scores-button.showing {
  display: flex;
}
#mode-select-screen.showing {
  display: grid;
}
#controls-hint {
  position: fixed;
  width: calc(var(--game-width) - (var(--tile-size) * 2));
  height: calc(var(--game-height) - (var(--tile-size) * 2));
  top: calc(var(--tile-size));
  left: 50vw;
  transform: translateX(-50%);
  background: #111;;
  z-index: 20;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--tile-size) / 3);
  border: calc(var(--pixel-size) * 2) solid #222;
  display: none;
  z-index: 50;
}
#controls-hint.showing {
  display: flex;
}
.orange-text {
  color: var(--kf-orange);
}
.light-orange-text {
  color: var(--kf-light-orange);
  font-size: 120%;
}
#controls-hint .hint-list {
  text-align: left;
}
#controls-hint .hint {
  padding: 1vh;
  font-size: calc(var(--tile-size) / 4);
}
#controls-hint > #hint-title {
  font-size: calc(var(--tile-size) / 2);
  padding: calc(var(--tile-size) / 3) 0;
}
#controls-hint > #hint-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--tile-size) / 2);
}
#controls-hint > #hint-grid > .hint-action-area {
  height: unset;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#controls-hint > #hint-grid > .hint-action-area .action-listing {  
  padding: 0 calc(var(--pixel-size) * 3);
  padding-right: calc(var(--pixel-size) * 6);
}
#controls-hint > #hint-grid > .hint-action-area .key-listing {
  color: yellowgreen;
  font-size: calc(var(--pixel-size) * 8);
  padding: calc(var(--pixel-size) * 3);
  padding-left: calc(var(--pixel-size) * 6);
}
#controls-hint > #hint-grid > .hint-action-area > .action-type-label {
  width: min-content;
  text-align: center;
  font-size: calc(var(--pixel-size) * 5);
  color: var(--kf-orange);
}
#controls-hint > #hint-grid > .hint-action-area > div.empty {
  opacity: 0;
  border: 0;
}
#controls-hint > #hint-grid > .hint-action-area > div:hover {
  background-color: #222;
}
#controls-hint > #hint-grid > .hint-action-area > .key-row {
  font-size: calc(var(--pixel-size) * 5);
  width: 100%;
  height: min-content;
  /* min-height: calc(var(--tile-size) * 1.5); */
  justify-content: space-between;
  padding: calc(var(--pixel-size) * 4);
  margin-bottom: 1vh;
  background: #050505;
}
#controls-hint > #button-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#controls-hint > #hint-instructions {
  font-size:calc(var(--tile-size) / 3) !important;
  color: yellowgreen;
}
#hint-close-button.close-button {
  background: #000900;
  padding: calc(var(--tile-size) / 2) calc(var(--tile-size) * 2);
  font-size: calc(var(--pixel-size) * 9);
  border: calc(var(--pixel-size) * 1.5) solid rgb(37, 53, 37);
  margin: calc(var(--tile-size) / 3);
}
#hard-reload {
  position: fixed;
  color: rgb(226, 165, 157);
  background: transparent;  
  width: max-content;
  height: var(--tile-size);
  transform: translateX(-50%);
  left: 50vw;
  opacity: 0.5;
}
#d-pad-touch-area {
  position: absolute;
  background: gray;
  opacity: 0;
  top: calc(var(--game-height) + (var(--pixel-size) * 16));
  left: calc(var(--pixel-size) * 10);
  width: calc(var(--gamepad-height) - (var(--pixel-size) * 34));
  height: calc(var(--gamepad-height) - (var(--pixel-size) * 34));
  z-index: 3;
}
#d-pad-touch-area.high {
  transform: none;
}
#d-pad-touch-area.mid {
  transform: translateY(-50%);
  top: calc(var(--game-height) + (var(--extra-y-space) / 2) - var(--pixel-size));
}
#d-pad-touch-area.low {
  transform: translateY(-100%);
  top: calc(var(--screen-height) - var(--pixel-size) * 18);
}
#credit {
  position: absolute;
  width: var(--game-width);
  font-size: calc((var(--pixel-size) * 6));
  transform: translateX(-50%);
  left: 50%; 
  /* top: calc(var(--screen-height) - calc((var(--screen-height) / 60))); */
  bottom: calc(var(--tile-size) / 2);
  color: var(--kf-green);
  font-family: sans-serif !important;
  opacity: 0;
  z-index: 1;
  transition: opacity 600ms ease;
  transition-delay: 300ms;
}
#credit > a {
  font-family: sans-serif;
}
body.scored #credit {
  display: none;
}
#hard-reload {
  border-color: #111;
  border-style: solid;
  bottom: calc((var(--extra-y-space) - var(--tile-size) / 2) * -1);
  display: none !important;
}
a {
  /* text-decoration: none; */
  color: unset;
}
.hidden {
  display: none !important;
}
#game-canvas > canvas {
  /* width: var(--game-width) !important;
  height: var(--game-height); */
}
#game-canvas {
  width: var(--game-width);
  height: var(--game-height);
  background-color: var(--original-bg-color);
  position: relative;
  margin: 0 auto;
}
#game-canvas.horde-mode {
  image-rendering: pixelated;
  background-image: url(../assets/ngbackground.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
}
#nes-canvas {
  position: fixed;
  z-index: 4;
}
#cinematic {
  width: var(--game-width);
  height: var(--game-height);
  image-rendering: pixelated;
  background-image: url(../assets/cinemabg.png);  
  background: black;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: var(--game-x);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
  border: calc(var(--tile-size) / 2) solid #111;
  border-image: url(../assets/orangeframe.png) 9 repeat;
  z-index: 5;
}
.full-opacity {
  opacity: 1 !important;
}
#cinema-screen > img.cover {
  width: calc(var(--game-width) - (var(--tile-size) * 5));
  height: calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320));
  opacity: 0.4;
  /* display: none; */
}
#cinema-screen > img.cover.full-opacity {
  opacity: 0.4;
}
#cinematic > #cinema-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--tile-size));  
  width: calc(var(--game-width) - (var(--tile-size) * 5));
  height: calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320));
  outline: calc(var(--tile-size) / 3) solid #111;
  opacity: 0;
  transition: opacity 1500ms ease;
  overflow: hidden;
}
#cinematic > #cinema-screen:not(.full-opacity) {
  
}
#cinema-screen > div.cinema-scene {
  background-image: url(../assets/thomasgrief.png);
}
#cinema-screen > img.cinema-scene {
  
}
#cinema-screen > .cinema-scene {
  --zoomed-scale: 5;
  /* padding: calc(var(--tile-size) / 6); */
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(90%);
  opacity: 0;
  transition: opacity 1500ms ease;
  filter: sepia(80%);
  background-size: cover;
}
#cinema-screen > .cinema-scene.full-opacity {
  opacity: 1 !important;
}
@keyframes zoom {
  0% {
    transform: initial;
  }
  100% {
    transform: scale(var(--zoomed-scale))
  }
}
#cinema-screen > .cinema-scene.black-screen {
  background-image: url(../assets/blackscreen.png);
}
.cinema-scene.sylvia-thomas {
  content: url(../assets/sylviathomas.png);
  width: calc(var(--pixel-size) * 20) !important;
  height: calc(var(--pixel-size) * 40) !important;
}
.cinema-scene.frame-0 {
  transform: scale(2);
  background-position: 0 top;
}
.cinema-scene.frame-1 {
  transform: scale(2);
  background-position: 0 calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -1);
}
.cinema-scene.frame-2 {
  transform: scale(2);
  background-position: 0 calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -2);
}
.cinema-scene.frame-3 {
  background-position: 0 calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -3);
}
.cinema-scene.frame-4 {
  background-position: center calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -4);
}
.cinema-scene.frame-5 {
  background-position: 0 calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -5);
}
.cinema-scene.frame-6 {
  background-position: 0 calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -6);
}
.cinema-scene.frame-7 {
  background-position: 0 calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -7);
}
.cinema-scene.frame-8 {
  background-position: 0 calc((var(--game-width) - (var(--tile-size) * 5)) * (182/320) * -8);
}
#cinema-screen > img.cover {
  filter: none;
  position: absolute;
  border-color: transparent;
  height: 100%;
  opacity: 0.4;
  display: none !important;
}
#cinematic > .caption {
  width: calc(var(--game-width) - (var(--tile-size) * 5));
  max-width: calc(var(--game-width) - (var(--tile-size) * 3));
  flex-grow: 1;
  height: calc(var(--tile-size) * 5.5);
  padding-top: calc(var(--tile-size) * 1.25);
  /* padding: 0; */
  font-size: calc(var(--pixel-size) * 6);
  transition: opacity 800ms ease;
  transition-delay: 900ms;
  line-height: calc(var(--pixel-size) * 12);
  /* bottom: 0; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  transform: scale(1.5) translateY(calc(var(--tile-size) * -3));
  transform-origin: top;
  transition: transform 1500ms ease;
  transition-delay: 500ms;
  text-align: left;
}
#cinematic > .caption.moved-down {
  transform: none;
}
#cinematic > .button-area {
  width: 100%;
  height: calc(var(--tile-size) * 1.5);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#cinematic #cinematic-caret {
  animation-name: blink-text;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  align-self: center;
  border-top-color: #111;
}
#cinematic #cinematic-caret.ready {
  animation-play-state: running;
  border-top-color: white;
}
#cinematic .skip-button:first-of-type {
  opacity: 0;
  pointer-events: none;
}
#cinematic .skip-button {
  /* position: absolute; */
  font-size: calc(var(--tile-size) / 3);
  /* font-family: sans-serif; */
  width: calc(var(--tile-size) * 2);
  align-items: center;
  justify-content: center;
  border-radius: var(--pixel-size);
  color: #999;
  background: #222;
  opacity: 0.75;
}
#cinematic > .skip-button  {
  /* animation: blink-text;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate; */
}
@keyframes blink-text {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
.clickable {
  cursor: pointer;
}
body.loaded #brutal-logo {
  transform: scaleX(1.25) rotate(-2deg);
  opacity: 1;
}
#kung-fu-logo.landed {
  opacity: 1;
}
#kung-fu-logo.shrunken {
  top: calc(var(--pixel-size) * 70);
  height: calc(var(--pixel-size) * 40);
}
#name-entry-screen {
  background-color: inherit;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: calc(var(--tile-size) / 2) solid;
  border-image: url(../assets/orangeframe.png) 9 repeat;
  padding: 0 calc(var(--tile-size) * 1.5);
}
#name-entry-screen > #submission-area, #name-entry-screen > header {
  height: var(--header-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#name-entry-screen > #submission-area {
  min-height: calc(var(--header-height) * 1.5);
  margin: var(--tile-size) 0;
}
#name-entry-screen > header {
  height: calc(var(--header-height) * 1.25);
  font-size: var(--header-font-size);
}
#name-entry-screen #player-high-score {
  color: var(--kf-green);
  font-size: calc(var(--header-font-size) * 1.5);
}
#name-entry-screen #player-rank {
  color: var(--kf-orange);
  font-size: calc(var(--tile-size) / 2);
}
#name-entry-screen #player-mode {
  color: var(--kf-light-orange)
}
#name-entry-screen #congrats {
  font-size: calc(var(--header-font-size) / 1.5);
  line-height: calc(var(--header-font-size) * 1.25);
  flex-grow: 1;
}
#name-entry {
  text-align: center;
  width: calc(var(--tile-size) * 10);
  height: calc(var(--pixel-size) * 38);
  font-size: calc(var(--game-height) / 20);
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-family: 'Press Start 2P';
  transition: all 300ms ease;
  border-width: calc(var(--pixel-size) * 3);
  border-color: rgb(54, 54, 10);
  z-index: 10;
}
#name-submit {
  width: calc(var(--game-width) * 0.265);
  height: calc(var(--pixel-size) * 32);
  text-transform: uppercase;
  font-size: calc(var(--tile-size) / 2);
  font-family: 'Press Start 2P';
  background-color: #464;
  color: white;
  margin: calc(var(--pixel-size) * 3.5);
  border: var(--pixel-size) solid #898;
  padding: calc(var(--pixel-size) * 4);
  border-color: #898;
  transform: scale(1);
  transition: all 10ms ease, transform 100ms ease;
  /* display: none; */
  cursor: pointer;
  animation: button-throb;
  animation-duration: 320ms;
  z-index: 10;
}
#skip-name-entry-button.close-button {
  background-color: #181818;
  color: white;
  font-size: calc(var(--tile-size) / 2);
  color: #666;
  width: calc(var(--tile-size) * 5);
  height: calc(var(--tile-size) * 1.5);
  padding: unset;
  margin: calc(var(--game-width) / 24);
}
#name-submit:disabled {
  background-color: grey;
  color: lightgrey;
}
@keyframes pulse-input {
  0% {
    border-color: rgb(104, 170, 104);
    font-size: calc(var(--game-height) / 18);
  }
  100% {
    border-color: green;
    font-size: calc(var(--game-height) / 19);
  }
}
@keyframes button-throb {
  0% {
    transform: scale(1.05);
    background-color: var(--kf-light-orange);
  }
  100% {
    transform: scale(1);
    background-color: var(--kf-green);
  }
}
#options-screen {
  grid-template-rows: var(--header-height) 1fr 0.25fr 0.5fr;
	/* padding-bottom: calc(var(--tile-size) + 2vh); */
}
#options-screen .screen-header {  
  background-position: bottom;
}
#options-screen > header, #top-fighters-screen > header, #mode-select-screen > header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  image-rendering: pixelated;
  grid-column-start: 0;
  grid-column-end: span 3;
}
#options-body {
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 3vh 0;
}
#options-screen #options-switch-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  z-index: 0;
	height: 100%;
	max-width: calc(var(--game-width) / 1.25);
	/* padding-top: calc(var(--tile-size)); */
	margin: 0 !important;
}
#options-switch-list .option-row {
  
}
#options-switch-list .option-row {
  height: calc((var(--tile-size) * 1.4) + 1vh);
  /* width: 97.5%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;  
}
#options-switch-list .option-row > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(var(--pixel-size) / 2) solid #333;
}
#options-switch-list .option-label {
  background-color: transparent;
  border: 0 !important;
  justify-content: flex-end !important;  
  padding-right: calc(var(--pixel-size) * 12);
  line-height: 150%;
  text-align: right;  
}
#lower-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-row-start: 4;
}
#cookie-confirmation label {
  cursor: pointer;
}
#cookie-confirmation {
  font-size: calc(var(--pixel-size) * 6);
  height: var(--tile-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: calc(var(--tile-size)); */
  line-height: calc(var(--pixel-size) * 9);
  text-align: left;
  opacity: 0.8;
}
#cookie-confirmation > input {
  height: var(--tile-size);
  width: var(--tile-size);
  margin-right: calc(var(--tile-size) / 4);
  /* cursor: pointer; */
}
#options-screen #options-button-list {
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* flex-grow: 1; */
}
#options-screen .option-button { 
  /* justify-self: center; */
  font-size: calc(var(--pixel-size) * 6);
  padding: calc(var(--pixel-size) * 8);
  align-self: center;
  background: rgb(42, 60, 73);
  border: var(--pixel-size) outset #333;
}
#options-switch-list .option-range {  
  /* height: 100%; */
  align-self: stretch;
}
#options-switch-list .option-range-value {
  font-size: 75%;
  background: #222;
  border: var(--pixel-size) solid #333;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((var(--tile-size) * 1.6) + 1vh) !important;
  height: calc((var(--tile-size) * 1.6) + 1vh) !important;
}
#options-switch-list .option-range-value.on {
  font-size: 75%;
  background: rgb(77, 122, 73);
  border: calc(var(--pixel-size) * 1) solid white;
}
#options-switch-list .option-switch {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;  
  /* width: calc(var(--tile-size) * 7) !important; */
  width: calc((var(--tile-size) * 6.4) + 1vh) !important;  
  border-radius: calc(var(--pixel-size));
  /* font-size: 90%; */
  /* margin-bottom: calc((var(--tile-size) / 4) + 1vh); */
}
#options-switch-list .option-switch:hover > .switch-knob {
  opacity: 0.8;
}
#options-switch-list .option-switch > .switch-knob {
  /* flex-grow: 1; */
  height: 100%;
  background-color: #522;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  width: 50%;
  transition: transform 210ms ease;
  border-radius: calc(var(--pixel-size));
}
#options-switch-list .option-switch.on > .switch-knob {
  transform: translateX(50%);
  background-color: rgb(77, 122, 73);  
}
#mode-select-screen .button-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mode-select-screen .button-area > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
#mode-back-button, #filler-button-area > .close-button {
  padding: 2vh;
}
#mode-select-screen .button-area .close-button {
  z-index: 21;
}
.close-button {
  background: #222;
  padding: 3vh 6vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  left: 50vw;
}
#confirm-mode-button {
  border: calc(var(--pixel-size) * 2) double var(--kf-green);
  max-width: 50vw;
  font-size: calc(var(--tile-size));
}
#close-options-button.close-button {
  font-size: calc(var(--pixel-size) * 10);
  top: calc(var(--screen-height) - (var(--pixel-size) * 16));
  /* width: calc(var(--game-width) / 3); */
  left: 50vw;
  /* margin-top: calc(var(--tile-size) / 4) */
}
#options-screen.showing {
  display: flex;
}
.controls-grid {
  padding: 2vw;
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: stretch;
  background: #111;
  border: var(--pixel-size) solid rgb(59, 59, 59);
  border-top: 0;
  z-index: 0;  
  margin-bottom: 2vh;
}
/* .controls-grid.hidden {
  display: none;
} */
.action-type-area {
  /* box-sizing: border-box; */
  padding: 1vw;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  height: 50vh;
  align-items: center;
  justify-content: center;
  grid-row-gap: calc(var(--pixel-size) * 3);
}
#gamepad-controls-grid > .action-type-area {
  opacity: 0;
  pointer-events: none;
}
#coming-soon-message {
  position: fixed;
  width: 100%;
  top: 45vh;
  left: 0;
  pointer-events: none;
  font-size: 1.5vw;
}
.action-type-label {
  grid-column-end: span 3;
  justify-self: center !important;
  border: none !important;
  min-height: 2vh;
}
.action-type-area > div {
  text-align: left;
  height: 8vh;
  max-height: 8vh;
  border: calc(var(--pixel-size) / 2) solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-type-area > .action-listing {
  line-height: 150%;
  text-align: center;
  padding: 0 1.5vw;
  font-size: calc(var(--screen-height) / calc(15 / 16) / 54);
}
.action-type-area > .key-listing {
  color: rgb(134, 224, 134);
  font-size: calc(var(--pixel-size) * 8);  
}
.long-name > .key-listing {
  font-size: calc(var(--pixel-size) * 4) !important;
}
.action-type-area > .key-listing.just-changed {
  animation: throb;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-duration: 60ms;
}
@keyframes throb {
  0% {
    color: var(--kf-light-orange);
  }
  100% {
    color: var(--kf-green)
  }
}
.action-type-area > .key-edit-button {
  width: 9vh;
  border-style: outset;
  border-color: gray;
  background: rgb(73, 73, 73);
  padding: 0 2vw;
}
.action-type-area > .key-edit-button.depressed {  
  border-style: inset;
  background: rgb(119, 119, 119);
}
.action-type-area > .key-edit-button::after {
  content: 'EDIT';
  font-size: calc(var(--pixel-size) * 3.5);
}
.action-listing.empty, .key-listing.empty, .key-edit-button.empty {
  border: none;
  color: transparent;
  background: transparent;
}
#modal-action-display {
  font-size: calc(var(--tile-size) / 1.25); 
  color: rgb(100, 245, 100);
  padding: calc(var(--tile-size) * 1.5) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal-cancel-message {
  font-size: calc(var(--tile-size) / 3); 
  width: 100%;
}
#controls-title {
  width: 100%;
  flex-grow: 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  font-size: calc(var(--header-font-size) / 1.5);
  display: flex;
  justify-content: space-around;
}
#controls-title > div {
  color: rgb(136, 136, 136);
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  border: 2px solid transparent;
  border-bottom-color: rgb(59, 59, 59);
}
#controls-title > div.selected {
  color: white;
  background-color: #111;  
  border-color: rgb(59, 59, 59);
  border-bottom-color: transparent;
  padding: 3vh
}
#key-edit-modal {
  position: fixed;
  background: #111;
  border: calc(var(--pixel-size) * 2) solid #222;
  width: calc(var(--game-width) / 1.25);
  height: calc(var(--game-height) / 2);
  transform: translateX(-50%) translateY(-50%);
  top: 45vh;
  left: 50vw;
  display: none;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--game-height) / 32);
  color: white;
  line-height: 150%;
  padding: calc(var(--pixel-size) * 15);
  z-index: 51;
}
#key-edit-modal.showing {
  display: flex;
  pointer-events: all;
}
.pulsed {
  background-color: #afa;
}
#mode-select-screen {
  grid-template-rows: var(--header-height) 1fr calc(var(--tile-size) * 4);
  z-index: 30;
  /* display: none; */
  /* position: fixed;
  background: black;
  width: 100vw;
  height: var(--screen-height);
  top: 0;
  left: 0;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10vw;
  padding-top: 0;
  display: none;
  z-index: 3; */
}
#mode-select-screen .screen-header {  
  background-position: center;
}
#mode-select-screen .button-area > #filler-button-area {
  display: none;
}
#mode-select-screen .mode-panel.pending {
  pointer-events: none;
}
#mode-select-screen .mode-panel.pending::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000dd;
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'COMING SOON :)';  
}
#mode-panel-area {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 100%;
  height: calc(var(--screen-height) / 1.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--tile-size) / 2);
  /* justify-content: space-between; */
}
#mode-select-screen > header {
  font-size: var(--header-font-size);
}
#mode-select-screen .mode-panel:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000bb;
}
#mode-select-screen .mode-panel {
  position: relative;
  background-color: #222;
  border: var(--pixel-size) solid #444;
  width: 100%;  
  max-height: calc(var(--tile-size) * 7);
  flex-grow: 1;
  margin: calc(var(--screen-height) / 64);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: flex 210ms ease;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
#mode-select-screen .mode-panel.selected {
  border-color: greenyellow;
  outline: calc(var(--pixel-size) * 6) double green;
  animation: flash-outline;
  animation-duration: 360ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}
@keyframes flash-outline {
  0% {
    outline-color: var(--kf-orange);
    outline-width: calc(var(--pixel-size) * 5)
  }
  100% {
    outline-color: var(--kf-green);
    outline-width: calc(var(--pixel-size) * 6)
  }
}
@keyframes flash-outline-yellow {
  0% {
    outline-color: green;
    outline-width: calc(var(--pixel-size) * 5)
  }
  100% {
    outline-color: yellowgreen;
    outline-width: calc(var(--pixel-size) * 6)
  }
}
#mode-select-screen .mode-panel > .mode-title {
  text-align: left;
  width: 100%;
  position: absolute;  
  font-size: calc(var(--header-font-size) / 1.25);
  padding: 3vw;
}
#story-mode-panel {
  background-image: url(../assets/storybg.png);
  
}
#horde-mode-panel {
  background-image: url(../assets/ngbackground.png);
}
#story-mode-panel > .mode-title {
  background: rgba(87, 14, 14, 0.5);
  
}
#horde-mode-panel > .mode-title {
  background: rgba(14, 87, 24, 0.5);
  text-align: right !important;
}
#mode-select-screen > #mode-panel-area #stage-select-mode-panel > .mode-title,
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel > .mode-description {
  position: static;
}
#mode-select-screen > #mode-panel-area #stage-select-mode-panel {
  flex-grow: 0;
  justify-content: space-between;
  padding-bottom: 1vh;
}
#mode-select-screen > #mode-panel-area #stage-select-mode-panel > #stage-grid {
  width: 80%;
  height: 50%;
  display: none;
  margin-top: calc(var(--header-font-size) / 1.5);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: calc(var(--tile-size) / 3);
  grid-gap: calc(var(--tile-size) / 1.5);
  color: white;
  font-size: calc(var(--pixel-size) * 16);
  background: black;
}
.stage-knob {
  font-size: calc(var(--pixel-size) * 12);
  border: 2px solid rgb(27, 19, 19);
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* animation: flash-outline; */
  /* animation-duration: 180ms; */
  /* animation-iteration-count: infinite; */
  /* animation-play-state: running; */
}
.stage-knob.selected {
  outline: calc(var(--tile-size) / 3) solid green;
}
.stage-knob.unavailable {
  pointer-events: none;
  cursor: unset;
  border: 0;
  opacity: 0.2;
}

#stage-select-mode-panel > .mode-description {
  text-align: right !important;
}
#stage-select-mode-panel > .mode-title {
  background: rgb(14, 15, 87);
  text-align: right !important;
}
#mode-select-screen .mode-panel > .mode-description {
  text-align: left;
  width: 90%;
  position: absolute;
  bottom: 2vh;
  font-size: calc((var(--screen-height) / 60) - (var(--extra-y-space) / 300));
  line-height: 150%;
  padding: 3vw;
  padding-right: 0;
  padding-bottom: 0;
  transform: scaleX(0.95);
}
#mode-select-screen .mode-panel:nth-child(even) > .mode-description {
  text-align: left;
}
body.scored #kung-fu-logo, body.scored #brutal-logo {
  display: none;
}

@media (orientation: portrait) {
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel.expanded {
    flex-grow: 0.7;
  }
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel.expanded > #stage-grid {  
    display: grid;
  }
  #mode-select-screen .mode-panel.truncated > .mode-description {
    opacity: 0;
  }
  #game-canvas {
    /* height: calc(100vw * calc(15 / 16)); */
    /* height: var(--screen-height); */
    /* background-color:black; */
  }
  #controls-button {
    display: none;
  }
  #turn-phone-shade, #turn-phone-instructions, #turn-phone-instructions > img {
    display: none;
  }
}

@media (orientation: landscape) {
  :root {
    --header-height: calc(var(--game-height) / 6);
  }
  body {
    --header-font-size: calc(var(--pixel-size) * 12);
    background-color: var(--black-bg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #d-pad-touch-area {
    position: absolute;
    background: gray;
    opacity: 0;
    top: (var(--pixel-size) * 16);
    left: calc(var(--pixel-size) * 6);
    width: calc(var(--gamepad-height) - (var(--pixel-size) * 30));
    height: 100vh;
    z-index: 3;
    display: none;
  }
  #d-pad-touch-area.high {
    transform: none;
    top: (var(--pixel-size) * 16);
  }
  #d-pad-touch-area.mid {
    transform: none;
    top: (var(--pixel-size) * 16);
  }
  #d-pad-touch-area.low {
    transform: none;
    top: (var(--pixel-size) * 16);
  }
  #title-screen {
    grid-template-rows: calc(var(--header-height) + (var(--tile-size) * 2)) 1fr;
    z-index: 3;
    /* background: transparent; */
  }
  #top-fighters-screen {
    grid-template-rows: var(--header-height) calc(var(--tile-size) * 1.5) 1fr 1fr;    
    grid-template-columns: 8vw 1fr 8vw !important;
    /* width: unset; */
    justify-items: center;
    max-width: 100vw !important;
  }
  .screen-cover {
    /* max-width: 100vw !important; */
    /* padding: 0 !important; */
  }    
  #options-screen {
    grid-template-rows: var(--header-height) 48vh 0.75fr 1fr !important;
    grid-template-columns: 8vw 1fr 8vw !important;
    /* width: unset !important; */
    left: unset !important;
    max-width: 100vw !important;
    font-size: 1.5vw;
    width: auto !important;
  }
  /* #options-screen #options-button-list {    
    flex-grow: 1;
  } */
  .dragon-column {
    background-size: 6vw;
    width: 100%;
  }
  #options-body {
    width: unset;
    width: 100% !important;
    /* padding-top: calc(var(--tile-size) / 3); */
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  #options-screen #options-switch-list {
    align-items: center;
    min-width: calc(var(--game-width)) !important;
    /* padding-top: calc(var(--tile-size) / 2); */
  }
  #options-switch-list .option-row {
    /* height: 9vh !important; */
    width: 45%;
    line-height: 3vh;
    background: #111;
    padding-right: 1vh;
  }
  #options-switch-list .option-row > .option-label {
    /* padding: 0; */
    /* justify-content: flex-start !important;     */
    width: 100%;
    height: 100%;
    /* padding-left: 1.5vw; */
    
  }
  #options-switch-list .option-row > .option-switch {
    width: 50% !important;
    height: 75%;
    margin: 0;
  }
  #top-fighters-screen .tab-area {
    width: 100%;
    grid-column-gap: 0 !important;
    justify-items: center;
  }
  #top-fighters-screen .tab-area > .tab {
    transform: none !important;
    /* width: 85%; */
    opacity: 1 !important;
    margin: 0 !important;
    padding: 0 calc(var(--tile-size) / 2);
    padding-top: calc(var(--tile-size) / 4);;
  }
  .screen-header {
    background-size: auto 300%;
    max-height: calc(var(--pixel-size) * 24);
  }
  header {
    justify-content: space-between !important;
  }
  .orange-divider {
    background-image: url(../assets/orangeswirldivider.png);
    background-size: contain;
    background-repeat: repeat-x;
    min-height: calc(var(--pixel-size) * 5);
    min-width: var(--game-width);
  }
  #top-fighters-screen #scores-grid-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: space-between;      
  }
  #cookie-confirmation {
    font-size: calc(var(--pixel-size) * 4);
    height: var(--tile-size);
    /* margin-top: calc(var(--tile-size) / 4); */
    line-height: calc(var(--pixel-size) * 6);
  }
  #cookie-confirmation > input {
    height: calc(var(--tile-size) / 1.5);
    width: calc(var(--tile-size) / 1.5);
  }
  .scores-grid {
    min-height: 100%;
    width: 85%;
    width: calc(var(--game-width) / 2);
    min-width: calc(var(--game-width) / 3);
    /* min-height: calc(var(--screen-height) - (var(--tile-size) * 6.5)) !important; */
    max-height: calc(var(--screen-height) - (var(--tile-size) * 6.5)) !important;
    /* max-width: 30vw; */
    color: white;
    font-size: 2.5vh;
    display: grid;
    grid-template-columns: 5vh 1fr min-content;
    grid-auto-rows: 5vh;
    border-radius: calc(var(--pixel-size) * 2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: auto;
  }
  .scores-grid:first-child {
    grid-column-start: 1;
  }
  .scores-grid:last-child {
    grid-column-start: 2;
  }
  .scores-grid > div {
    width: unset;
    height: 5vh !important;
  }
  .scores-grid > .score-rank {
    font-size: 2vh;
  }
  #mode-select-screen > #mode-panel-area {  
    height: 100%;
  }
  #mode-select-screen > #mode-panel-area #stage-select-mode-panel > #stage-grid {  
    display: grid;
    width: 100%;
    height: min-content;
    grid-gap: 1vw;
  }
  #stage-grid > div {
    border-width: var(--pixel-size);
    outline-width: var(--pixel-size);
    width: 100%;
    padding: 1vw;
    font-size: 2.5vw;
  }
  #mode-select-screen {
    grid-template-columns: 8vw 1fr 8vw !important;
    grid-template-rows: var(--header-height) 1fr calc(var(--tile-size) * 4);
    padding: 0;
  }
  #controls-screen {
    padding-bottom: 6vh;
    background: rgb(4, 14, 4);
  }
  #close-controls-button {
    margin-top: 4vh;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  #mode-select-screen > #mode-panel-area {  
    flex-direction: row;
    align-items: stretch;
  }
  #top-fighters-screen .button-area {
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
  }
  #mode-select-screen .button-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #mode-select-screen .button-area > #filler-button-area {
    display: flex;
  }
  #confirm-mode-button {
    
  }
  #mode-select-screen .mode-panel {  
    width: 60%;
  }
  #mode-back-button, #filler-button-area > .close-button {
    padding: 3vh;
  }
  #mode-select-screen .mode-panel > .mode-title {
    font-size: 2.5vw;
    padding: 2vw;
    min-height: calc(5vw + 15%);
    line-height: 150%;
  }
  #mode-select-screen .mode-panel > .mode-description {
    font-size: 1.5vw;
    line-height: 175%;
    padding: 1vw;
  }
  #game-canvas {
    /* width: calc(var(--screen-height) / calc(15 / 16));
    height: var(--screen-height); */
    /* transform: scale(0.99) */
    /* opacity: 0; */
  }
  #close-high-scores-button.close-button {
    margin: 0;
  }
  #landscape-nes-controls {
    position: fixed;
    width: 100vw;
    height: var(--screen-height);
    top: 0;
    left: 0;
    background-color: aquamarine;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
  }
  /* #skip-name-entry-button.close-button {
    position: absolute;
    top: calc(var(--screen-height) - (var(--pixel-size) * 8));
    left: 50vw;
    background: #222;
    color: white;
    font-size: calc(var(--game-width) / 48);
    padding: calc(var(--game-width) / 36);
  } */
  #turn-phone-shade {
    /* box-sizing: border-box; */
    position: fixed;
    background-color: black;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--screen-height);
    z-index: 3;
  }
  #turn-phone-instructions {
    position: fixed;
    width: 60vw;
    height: 65vh;
    transform: translateX(-50%) translateY(-50%);
    top: 50vh;
    left: 50vw;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 2vw;
    line-height: 150%;
    z-index: 3;
  }
  #turn-phone-instructions > img {
    width: 40vh;
    height: 40vh;
    opacity: 0.8;
    border: 2vw solid black;
  }
  #turn-phone-instructions > small {
    font-size: 1vw;
  }  
  body.scored #turn-phone-shade, body.scored  #turn-phone-instructions, body.scored #turn-phone-instructions > img {
    display: none;
  }
  #gamepad-y-control {
    display: none !important;
  }
  #controls-button {
    display: none;
  }
}

/* physical keyboard ? */
@media (orientation: landscape) and (hover: hover) and (pointer: fine) {
  #gamepad-y-control {
    display: none !important;
  }
  #turn-phone-shade, #turn-phone-instructions, #turn-phone-instructions > img {
    display: none;
    z-index: 50;
  }
  #controls-button {
    display: block;
  }
}